<%- include('../partials/header') %>
    <div class="container-list">
        <div class="header">
            <div class="email">
                <a href="users/upload"><img
                        src="<%= akun.avatar? `../images/${akun.avatar}` : `../images/default-account.png` %>"
                        alt="gambar account"></a>
                <h2>
                    <%=akun.email%>
                </h2>
                <a href="/"><i class="fa-solid fa-right-from-bracket" style="color: white;"></i>sign out</a>
            </div>
            <div class="judul">
                <h1>PostgreSQL Breads(Browse,Read,Edit,Add,Delete,Sort)</h1>
            </div>
        </div>
        <div class="body">
            <form action="" method="get">
                <input type="hidden" name="page" value="1">
                <input type="hidden" name="sort" value="<%= sort%>">
                <input type="hidden" name="sortBy" value="<%= sortBy%>">
                <div class="form">
                    <div class="title">
                        <p>Title</p>
                        <input type="text" name="title" title="title" placeholder="insert your title"
                            value="<%=query.title%>">
                    </div>
                    <div class="deadline">
                        <p name="deadline">
                            Deadline
                        </p>
                        <input type="date" name="startdate" style="width: 36%; margin-right: 60px;"
                            value="<%=query.startdate%>">
                        s.d.
                        <input type="date" name="enddate" style="width: 36%; margin-left: 60px;"
                            value="<%=query.enddate%>">
                    </div>
                    <div class="complete">
                        <p name="married">
                            Complete
                        </p>
                        <% if(query.complete=='true' ) { %>
                            <select name="complete">
                                <option disabled> -select complete- </option><br>
                                <option value="true" selected>Done</option>
                                <option value="false">Not Yet</option>
                            </select>
                            <% } else if (query.complete=='false' ) { %>
                                <select name="complete">
                                    <option disabled> -select complete- </option><br>
                                    <option value="true">Done</option>
                                    <option value="false" selected>Not Yet</option>
                                </select>
                                <% } else { %>
                                    <select name="complete">
                                        <option disabled selected> -select complete- </option><br>
                                        <option value="true">Done</option>
                                        <option value="false">Not Yet</option>
                                    </select>
                                    <% } %>
                    </div>
                    <div class="operation">
                        <p>
                            Operation
                            <%if(query.mode=='OR' ){%>
                                <input value="OR" id="or" type="radio" name="mode" checked>
                                <label for="or">OR</label>
                                <input value="AND" id="and" type="radio" style="margin-left: 20px;" name="mode">
                                <label for="and">AND</label>
                                <%}else if(query.mode=='AND' ){%>
                                    <input value="OR" id="or" type="radio" name="mode">
                                    <label for="or">OR</label>
                                    <input value="AND" id="and" type="radio" style="margin-left: 20px;" name="mode"
                                        checked>
                                    <label for="and">AND</label>
                                    <%}else{%>
                                        <input value="OR" id="or" type="radio" name="mode" checked>
                                        <label for="or">OR</label>
                                        <input value="AND" id="and" type="radio" style="margin-left: 20px;" name="mode">
                                        <label for="and">AND</label>
                                        <%}%>
                        </p>
                    </div>
                </div>
                <div class="footer-list">
                    <button type="submit" class="search-list"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <a href="/users" class="reset-list"><i class="fa-solid fa-arrows-rotate"></i></a>
                </div>
            </form>
        </div>
        <hr style="border: 1px groove #f2f2f2" class="garis">

        <table class="table">
            <thead>
                <div class="table-header">
                    <tr>
                        <th>No.</th>
                        <th><a href="/users<%= url.replace(`sortBy=${sortBy}`, `sortBy=title`).replace(`sort=${sort}`,`sort=${sort == 'asc' ? 'desc' : 'asc'}`)%>"
                                style="color: black;"><i
                                    class="fa-solid fa-<%= sortBy == 'title' ? sort == 'asc' ? 'sort-up' : 'sort-down' : 'sort'%>"></i></a>
                            Title
                        </th>
                        <th><a href="/users<%= url.replace(`sortBy=${sortBy}`, `sortBy=complete`).replace(`sort=${sort}`,`sort=${sort == 'asc' ? 'desc' : 'asc'}`)%>"
                                style="color: black;"><i
                                    class="fa-solid fa-<%= sortBy == 'complete' ? sort == 'asc' ? 'sort-up' : 'sort-down' : 'sort'%>"></i></a>
                            Complete</th>
                        <th><a href="/users<%= url.replace(`sortBy=${sortBy}`, `sortBy=deadline`).replace(`sort=${sort}`,`sort=${sort == 'asc' ? 'desc' : 'asc'}`)%>"
                                style="color: black;"><i
                                    class="fa-solid fa-<%= sortBy == 'deadline' ? sort == 'asc' ? 'sort-up' : 'sort-down' : 'sort'%>"></i></a>
                            Deadline</th>
                        <th>actions</th>
                    </tr>
                </div>
            </thead>
            <tbody class="tbody">
                <%data.forEach((item,index)=>{%>
                    <%if(new Date(`${item.deadline}`).getTime() < new Date().getTime() && !item.complete){ %>
                        <div class="table-body">
                            <tr class="table-tr">
                                <td style="background-color: #F4584F;">
                                    <%= index + 1 + offset%>
                                </td>
                                <td style="background-color: #F4584F;">
                                    <%=item.title%>
                                </td>
                                <td style="background-color: #F4584F;">
                                    <%=item.complete? 'Done' : 'Not Yet' %>
                                </td>
                                <td style="background-color: #F4584F;">
                                    <%= moment(item.deadline).locale('id').format('DD MMM YYYY HH:mm')%>
                                </td>
                                <td style="background-color: #F4584F;">
                                    <a href="/users/edit/<%=item.id%>" class="update">
                                        <i class="fa-solid fa-pencil" style="color: white;"></i>
                                    </a>
                                    <button class="delete" onclick="on('<%=item.id%>','<%=item.title%>')"><i
                                            class="fa-solid fa-trash"></i></button>
                                </td>
                            </tr>
                        </div>
                        <%}else{%>
                            <div class="table-body">
                                <tr class="table-tr">
                                    <td>
                                        <%= index + 1 + offset%>
                                    </td>
                                    <td>
                                        <%=item.title%>
                                    </td>
                                    <td>
                                        <%=item.complete? 'Done' : 'Not Yet' %>
                                    </td>
                                    <td>
                                        <%= moment(item.deadline).locale('id').format('DD MMM YYYY HH:mm')%>
                                    </td>
                                    <td>
                                        <a href="/users/edit/<%=item.id%>" class="update">
                                            <i class="fa-solid fa-pencil" style="color: white;"></i>
                                        </a>
                                        <button class="delete" onclick="on('<%= item.id%>','<%=item.title%>')"><i
                                                class="fa-solid fa-trash"></i></button>
                                    </td>
                                </tr>
                            </div>
                            <%}%>
                                <div class="table-footer"></div>
                                <%})%>
    </div>

    </div>
    </tbody>
    </table>
    <div class="add">
        <a href="/users/add">
            <i class="fa-solid fa-plus"></i>
        </a>
        <div class="pagination">

            <%if(page=='1' ){%>
                <a href="/users<%= url.replace(`page=${page}`, `page=${page}`) %>">&laquo;</a>
                <%}else{%>
                    <a href="/users<%= url.replace(`page=${page}`, `page=${page - 1}`) %>">&laquo;</a>
                    <%}%>
                        <%for(let i=1; i <=pages; i++){%>
                            <%if(i==page){%>
                                <a href="/users<%= url.replace(`page=${page}`, `page=${i}`) %>"
                                    class="<%= page==i ? 'active' : '' %>">
                                    <%= i %>
                                </a>
                                <%}else{%>
                                    <a href="/users<%= url.replace(`page=${page}`, `page=${i}`) %>"
                                        class="<%= page==i ? 'active' : '' %>">
                                        <%= i %>
                                    </a>
                                    <%}%>
                                        <%}%>
                                            <%if(page==pages){%>
                                                <a
                                                    href="/users<%= url.replace(`page=${page}`, `page=${page}`) %>">&raquo;</a>
                                                <%}else{%>
                                                    <a
                                                        href="/users<%= url.replace(`page=${page}`, `page=${(page * 1) + 1}`) %>">&raquo;</a>
                                                    <%}%>
        </div>
    </div>
    </div>
    <div class="notif" id="notif">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <p class="close" onclick="off()">&times;</p>
                </div>
                <div class="modal-body">
                    <p id="ask"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="notif-no" onclick="off()">No</button>
                    <a id="nextdelete" class="notif-yes" href="#">Yes</a>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>